.infobar {
  position: absolute;
  z-index: 5;
  left: 150px;
  width: 325px;
  background-color: #fafafa;
  height: 100%;
  transition: 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.infobar_sidebar_inactive {
  transform: translateX(-150px);
}
.close_button {
  position: absolute;
  right: 12.5px;
  top: 17.5px;
  height: 30px;
  width: 30px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.close_button > svg {
  font-size: 30px;
}
.map_switcher {
  position: absolute;
  top: 50%;
  z-index: 20;
  right: 10px;
  transform: translateY(-50%);
  display: block;
}
.dummy_div {
  width: 100%;
  min-height: 60px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infobar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.infobar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 600px) {
  .infobar {
    width: 100vw;
    left: 0px;
  }
  .infobar_sidebar_inactive {
    transform: translateX(0px);
  }
  .map_switcher {
    position: absolute;
    top: 15px;
    z-index: 20;
    right: 50%;
    transform: translateX(50%);
    display: block;
  }
  .dummy_div {
    width: 100%;
    min-height: 65px;
  }
}
