.waiting_wrapper {
  margin: 15px;
}
.arrival_slides {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.arrival_slides:first-child {
  margin-top: 0px;
}
.arrival_slides:last-child {
  margin-bottom: 5px;
}
