.container {
   width: 100%;
   min-height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.settings_box {
   min-height: 500px;
   display: flex;
}


@media screen and (max-width: 850px) {
   .settings_box {
      width: 100%;
      min-height: calc(100vh - 60px);
      position:relative;
   }
}