/* Styles for the center view button */
.center_view_button {
   position: absolute;
   right: 10px;
   top: 60px;
   padding: 10px;
   background-color: white;
   border-radius: 2px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
 }
 .center_view_button > img {
   opacity: 0.6;
 }
 
 .center_view_button:hover > img {
   opacity: 1;
 }