.card {
   width: 90%;
   border-radius: 10px;
   background-color: white;
   border: 1px solid lightgray;
   margin-top: 15px;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.no_margin {
   margin: 0;
}
.graph {
   margin: 0;
   padding: 0 0 15px 0;
}
.details_weather {
   margin: 0;
   padding: 15px 15px 25px 15px;
}
.margin_bottom {
   margin-bottom: 15px;
}
.last {
   margin-top: 0px;
   margin-bottom: 30px;
}
.full_width {
   width: 100%;
   margin-top: 10px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.full_width:first-child {
   margin-top: 0px;
}
