.wrapper {
  height: calc(100vh - 60px);
}
.text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 35px;
  z-index: 10;
  padding: 20px 30px;
  border-radius: 20px;
}
.text > p {
  margin: 5px 0px;
}
.text > a {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: calc((var(--vh, 1vh) * (100) - 60px));
  }
}

