.combobox {
   border: 2px solid #E8E7E2;
   width: 80%;
   margin: 5px 0px;
   border-radius: 15px;
}
.search_input {
   width: 100%;
   padding: 7px 10px;
   border-radius: 15px;
   outline: none;
   text-overflow: ellipsis;
}
.search_input:first-letter {
   text-transform: capitalize;
 }