.action_background_wrapper {
   position: fixed;
   z-index: 500;
   background-color: rgba(0,0,0,0.4);
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
.action_wrapper {
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   padding: 15px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
   z-index: 1000;
}
.action_header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 15px;
}
.action_header > h3 {
   font-size: 1rem;
}
.action_header > svg {
   cursor: pointer;
}
.action_info {
   margin-top: 15px;
}
.action_info > p {
   margin-top: 5px;
}
.action_submit {
   margin-top: 15px;
}
.message {
   width: 100%;
   margin-top: 15px;
}

@media screen and (max-width: 600px) {
   .action_wrapper {
      width: 90%;
   }
}