.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchbar {
  width: 70%;
}
.line_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line_title > div {
  margin-right: 15px;
}
.line_title > div > p {
  font-size: 0.9rem;
}
.line_title > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}