.container {
   border: 1px solid lightgray;
   border-radius: 5px;
}
.switch_wrapper {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid lightgray;
   border-radius: 5px 5px 0 0;
}
.switch_wrapper > div {
   flex: 1;
   cursor: pointer;
   padding: 10px 10px;
}
.switch_wrapper > div:first-child {
   border-right: 1px solid lightgray;
   border-radius: 5px 0px 0px 0px;
}
.switch_wrapper > div:last-child {
   border-radius: 0px 5px 0px 0px;
}
.switch_wrapper > div > h3 {
   font-weight: 500;
   font-size: 1rem;
   width: fit-content;
   padding-right: 10px;
}
.active_header {
   background-color: #fafafa;
}
.info_box {
   padding: 15px;
}
.pagination {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
}
.pagination > nav> ul {
   flex-wrap: nowrap !important;
}
.searchbar {
   border: 1px solid lightgray;
   padding: 7px 10px;
   width: 250px;
   border-radius: 20px;
   text-decoration: none;
   outline: none;
   font-size: 1rem;
}
.searchbar:focus {
   box-shadow: 0 0 0 1pt black;
}

@media screen and (max-width: 350px) {
   .searchbar {
      width: 100%;
   }
}
