.container {
   border-radius: 5px;
   margin-bottom: 15px;
}
.container:last-child {
   margin-bottom: 0px;
}
.switch_wrapper {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px 5px 0 0;
}
.switch_wrapper > div {
   flex: 1;
   cursor: pointer;
   padding: 10px 10px;
}
.switch_wrapper > div:first-child {
   border-radius: 5px 0px 0px 0px;
}
.switch_wrapper > div:last-child {
   border-radius: 0px 5px 0px 0px;
}
.switch_wrapper > div > h3 {
   font-weight: 500;
   font-size: 1rem;
   width: fit-content;
   padding-right: 10px;
}
.info_wrapper {
   padding: 15px;
}
.pagination {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
}
.no_items_message > h4 {
   font-weight: 500;
   font-size: 1rem;
   margin-left: 5px;
}
.stop_wrapper,
.line_wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px 5px;
   cursor: pointer;
}
.line_header > p {
   font-size: 0.9rem;
}
.icon {
   margin: 0px 10px;
}
.stop_title > h4 {
   font-weight: 500;
   font-size: 1rem;
}
.stop_lines {
   display: flex;
   align-items: center;
   max-width: 300px;
   flex-wrap: wrap;
}
.stop_lines > div {
   padding: 3px;
   border-radius: 5px;
   margin-right: 6px;
   margin-top: 5px;
   font-size: 0.8rem;
}
.action_button {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

