.search_input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  outline: none;
  text-overflow: ellipsis;
  border: 1px solid lightgray;
}
.search_input:focus {
  box-shadow: 0 0 0 1pt #00B9FF;
}
.search_input:first-letter {
  text-transform: capitalize;
}
