.searchbar_lines {
  width: 70%;
}
.searchbar_lines > div > input {
  line-height: 30px;
  font-size: 1rem;
  border-radius: 20px;
}
.header_dir_searcher {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header_dir_searcher > div > h4 {
  margin-bottom: 5px;
}
.header_dir_searcher > div > p {
  font-size: 0.9rem;
}
.header_dir_searcher > div > svg {
  cursor: pointer;
}
.searchbar_stops_header {
  margin-bottom: 10px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.searchbar_stops_header > div > svg {
  cursor: pointer;
}
.searchbar_stops {
  width: 100%;
}
.searchbar_stops:last-child {
  margin-top: 10px;
}
.searchbar_stops > div > input {
  line-height: 25px;
  font-size: 0.9rem;
  border-radius: 20px;
}
.select_time_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_time_container > h4::first-letter {
  text-transform: capitalize;
}
.select_time_option {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
}
.select_time_option > svg {
  font-size: 10px;
  margin-right: 3px;
}
.select_time_option:first-child {
  margin-bottom: 5px;
}
.select_date_hour {
  display: flex;
  justify-content: space-between;
}
.select_date_hour > div {
  width: 45%;
}
