.searchbar_lines {
  width: 70%;
}
.header_dir_searcher {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header_dir_searcher > div > h4 {
  margin-bottom: 5px;
}
.header_dir_searcher > div > p {
  font-size: 0.9rem;
}
.header_dir_searcher > div > svg {
  cursor: pointer;
}
.searchbar_stops_header {
  margin-bottom: 10px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.searchbar_stops_header > div > svg {
  cursor: pointer;
}
.searchbar_stops {
  width: 100%;
}
.searchbar_stops:last-child > div > input {
  margin-bottom: 5px !important;
}
.select_time_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_time_container > h4::first-letter {
  text-transform: capitalize;
}
.select_time_option {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
}
.select_time_option > svg {
  font-size: 10px;
  margin-right: 3px;
}
.select_time_option:first-child {
  margin-bottom: 5px;
}
.select_date_hour {
  display: flex;
  justify-content: space-between;
}
.select_date_hour > div {
  width: 45%;
}
.header_results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 100%;
}
.header_results > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 100%;
  cursor: pointer;
}
.header_results > svg {
  position: absolute;
  right: 0;
  z-index: 10;
  cursor: pointer;
}
.expand_results_icon {
  position: absolute;
  right: 50%;
  top: -37px;
  transform: translateX(50%);
  z-index: 10;
}
.expanded_results {
  width: 100%;
}
.departure,
.arrival {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.departure {
  padding-bottom: 5px;
  margin-top: 10px;
}
.arrival {
  padding-top: 5px;
}
.middle_stops {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  margin: 5px 0px;
  width: 100%;
}
.middle_stops_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle_stops_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  font-size: 0.9rem;
  position: relative;
  height: 25px;
}

/* Styles for the quantile dots plot */
.quantile_graph {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.quantile_graph > img {
  width: 400px;
  height: auto;
}
.quantile_graph > div {
  text-align: justify;
  font-size: 1rem;
  line-height: 22px;
}
.quantile_graph > div > span > svg {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .quantile_graph > img {
    width: 100%;
    height: auto;
  }
  .quantile_graph > div {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 20px;
  }
}