.container {
   width: 80%;
   padding: 20px 0px;
   background-color: white;
   margin-top: 60px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.subcontainer {
   border: 2px solid #E8E7E2;
   width: 80%;
   margin: 5px 0px;
   border-radius: 15px;
}
.hour_container {
   width: 80%;
   padding: 12px 20px;
   background-color: white;
   margin-top: 20px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 0.9rem;
}
.hour_container > input {
   align-self: center;
   border-radius: 15px;
   padding: 4px 15px;
   outline: none;
   cursor: pointer;
   border: 2px solid #E8E7E2;
   margin-top: 5px;
}
