.sidebar {
  position: absolute;
  z-index: 40;
  width: 150px;
  height: 100%;
  box-shadow: 4px 0 4px -4px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.sidebar_inactive {
  transform: translateX(-100%);
}
.list_icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacy_link {
  margin-top: auto;
  margin-bottom: 15px;
}
.privacy_link > a {
  text-decoration: none;
  color: inherit;
}


@media screen and (max-width: 600px) {
  .sidebar {
    min-width: 150px;
    width: 60vw;
  }
  .infobar {
    width: 100vw;
    left: 0px;
  }
  .infobar_sidebar_inactive {
    transform: translateX(0px);
  }
}
