.sidebar {
  position: absolute;
  z-index: 40;
  width: 150px;
  height: 100%;
  background-color: white;
  box-shadow: 4px 0 4px -4px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.sidebar_inactive {
  transform: translateX(-100%);
}
.button {
  width: 85%;
  background-color: white;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
}
.button:hover {
  border-left: 10px solid #0094EC;
}
.button > p {
  text-transform: capitalize;
}
.active {
  background-color: #fafafa;
  border-left: 10px solid #0094EC;
}
.list_icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_icon_active svg {
  fill: #0094EC;
  transition: 0.5s;
}


@media screen and (max-width: 600px) {
  .sidebar {
    min-width: 150px;
    width: 60vw;
  }
  .infobar {
    width: 100vw;
    left: 0px;
  }
  .infobar_sidebar_inactive {
    transform: translateX(0px);
  }
  .button {
    padding: 12px 15px;
  }
  .button:hover {
    border-left: 0px;
  }
}
