.avatar_wrapper {
   display: flex;
   align-items: center;
   align-self: center;
}
.avatar{
   width: 60px !important;
   height: 60px !important;
   margin-right: 10px;
}
.avatar_header > h3 {
   margin-bottom: 5px;
}
.username_wrapper,
.usermail_wrapper,
.userpassword_wrapper,
.delete_account_wrapper {
   margin-top: 20px;
}
.username_wrapper > p,
.usermail_wrapper > p,
.userpassword_wrapper > p,
.delete_account_wrapper > p {
   margin-bottom: 10px;
}
