<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Data Deletion instructions</h1>
<h3>Go to Dublin Bus website</h3>
<p>Type https://mystifying-swirles-3ffb35.netlify.app/ into the URL of your browser.</p>
<h3>Sign In</h3>
<p>Click on the user icon in the top right hand corner of the webpage.</p>
<p>Sign into the app by clicking on the Facebook / Google button or by providing your username and password.</p>
<h3>Delete Account</h3>
<p>Click on your user icon in the top right hand corner of the webpage.</p>
<p>Click "EDIT PROFILE".</p>
<p>Click "DELETE ACCOUNT".</p>
</body>
</html>