<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
body {
	margin: 40px auto;
    	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}
</style>
<body>
<h1>Dublin Bus App</h1>
        <ul>
            <li>/stops/ <a href="/stops">(Example)</a></li>
            <li>/stop/&ltstop_id&gt <a href="/stop/8220DB000002">(Example)</a></li>
            <li>/stop/Laurel Lodge 1676 <a href="/stop/8240DB001676">(Example)</a></li>
            <li>/route/&ltroute_id&gt <a href="/route/60-1-b12-1">(Example)</a></li>
            <li>/lines/ <a href="/lines">(Example)</a></li>
            <li>/stops_by_trip/&lttrip_id&gt <a href="/stops_by_trip/10893.y1009.60-37-d12-1.39.O">(Example)</a></li>
            <li>/shape_by_trip/&lttrip_id&gt <a href="/shape_by_trip/10893.y1009.60-37-d12-1.39.O">(Example)</a></li> 
 </ul>
</body>
</html>