.search_button {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px !important;
  background-color: lightgray;
}
.active {
  animation: pulse 2s infinite;
  cursor: pointer;
  box-shadow: 0 0 0 0 #0094EC40;
  background-color: #00B9FF;
  color: white;
}

@keyframes pulse {
  100% {
    box-shadow: 0px 0px 0px 20px rgba(135, 206, 235, 0);
  }
}
