.header {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.options {
   margin-top: 3px;
   right: 17.5px;
   position: absolute;
   z-index: 1;
}
.options > svg {
   cursor: pointer;
}
