.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds_dual_ring {
  display: inline-block;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  border-radius: 50%;
  animation: lds_dual_ring 1.2s linear infinite;
}
.dark:after {
  border: 6px solid black;
  border-color: black transparent black transparent;
}
.small:after {
  width: 40px;
  height: 40px;
}

@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
