.waiting_wrapper {
  margin-top: 30px;
  margin-bottom: 15px;
}
.arrival_slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  padding: 10px 0px;
  border-radius: 5px;
}
.arrival_slides:first-child {
  margin-top: 0px;
}
.arrival_slides:last-child {
  margin-bottom: 5px;
}
.arrival_slides > div:first-child {
  margin-right: 15px;
}
.arrival_slides > div:last-child {
  white-space: nowrap;
  width: fit-content;
}
.arrival_slides > div:first-child > p:last-child {
  font-size: 0.9rem;
}
.pagination {
  margin-top: 10px;
}