.toogle_buttons_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70%;
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding: 5px;
}
.toogle_buttons_button {
   width: 50%;
   background-color: white;
   padding: 5px 5px;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
}
.toogle_buttons_active {
   background-color: #DBF2FF;
   border: 1px solid #00B5F4;
}