.toogle_buttons_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70%;
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding: 5px;
}
.toogle_buttons_wrapper > button:first-child {
   margin-right: 5px;
}
